#Apuntes Varios

##Consideraciones

```
1.   Para ejecutar: crtl+enter
2.   Para limpiar variables: rm()
3.   Para consultar por variable ?+variable, ej ?paste
```

##Funciones 1

```
- + , -, /,* ,^ , %%, %*%.
- Logaritmo natural: log() 
- Funciones trigonométricas: sin() , cos(), tan(), asin() ,acos(), atan()
- Función exponencial: exp() 
- Raiz cuadrada: sqrt().
- Valor absoluto: abs()
- parte entera: floor()
- Truncar: trunc()
- Redondear: round(,)
- Factorial: factorial()
- Número combinatorio: choose(n,k)

```

#Variables y tipos de datos
La variables se asignan con la función "<-". Algunos tipos de datos son:
```
integer   
double  
logical   
character 
factor  
date
```

#Definición de Variables

In [3]:
#Definición de variables:La variables se asignan con la función "<-"
#Ejemplos
x <-1
x
x+1

y <- "Hola"
y

z <- 5
z

frase1 <- "Buenos días"
frase1

[1] 1

[1] 2

[1] "Hola"

[1] 5

[1] "Buenos días"

In [4]:
# Una vez definidas las variables se pueden hacer operaciones entre ellas
x+z

#Para concatenar tenemos la función paste
paste(x,y) #paste permite concatenar y por defecto lo realiza con espacio. Se puede definir separar por otro tipo de caracter:
paste(x,y, sep="xxx")
#La función paste0 me permite concatenar, pero sin caracteres de separación
paste0(x,y)
paste0(x,y) ==paste(x,y, sep="") # es lo mismo

[1] 6

[1] "1 Hola"

[1] "1xxxHola"

[1] "1Hola"

[1] TRUE

#Valores y Conectores Lógicos

In [5]:
#Valores Lógicos
#TRUE # es igual a T
#FALSE # es igual a F

#Conectores logicos
# "&" = "y" 
# "|" = "o"

#Evaluar igualdad logica
# "==" Igualdad 
# "!=" Desigualdad (Tambien sirve "<>")

#Ejemplo:
1+1==3
5-2==3
5!=5
18>12

[1] FALSE

[1] TRUE

[1] FALSE

[1] TRUE

In [6]:

# Valores de ausencia o no definciión de variable: NA, NaN,Inf,-Inf (Son palabras reservadas)
#Todo NaN es NA, pero no todo NA es NaN
# NA: Not Available
# NaN: Not a Number

v1 <- NA
v2 <- "RM"
v3 <- NaN

In [7]:
v2 == "RM"
v2 == "NA"
v1 == "NA"

[1] TRUE

[1] FALSE

[1] NA

In [25]:
# NULL es la designación del vacio. No es tipo de dato, es nada.
#z
#x <- NULL

x

NULL

In [9]:
is.na(v2)
is.na(v1)

is.nan(v1)
is.nan(v3)

[1] FALSE

[1] TRUE

[1] FALSE

[1] TRUE

In [10]:
#Si queremos preguntar negando anteponemos la negación "!"
!is.na(v2)

[1] TRUE

In [11]:
1000000000000000000000000000000000000000000 > Inf
1/Inf

0*Inf
1/0
0/0

[1] FALSE

[1] 0

[1] NaN

[1] Inf

[1] NaN

In [12]:
aux <- NA
aux2 <- NaN
aux3 <- NULL
     

aux
aux2
aux3

[1] NA

[1] NaN

NULL

In [13]:
#para consultar la clase de dato almacenado en una variable
#class()
#typeof()

#Las asignaciones son por valor y no por referencia.

class(x)
class(y)

[1] "numeric"

[1] "character"

In [14]:
# ls() retorna vector con nombres de variables definidas en el ambiente


ls()




frase1 <- "Buenos días"

 [1] "aux"    "aux2"   "aux3"   "frase1" "v1"     "v2"     "v3"     "x"
 [9] "y"      "z"

In [ ]:
# rm() Para limpiar variables
rm(frase1)

In [15]:
# Si quiero borrar grupo de datos, puedo ingresar un vector con datos

rm(list =c("aux","x"))

In [16]:
#Verifico la anulación de la lista
ls()

[1] "aux2"   "aux3"   "frase1" "v1"     "v2"     "v3"     "y"      "z"

In [29]:
rm(list=c("v1","v2","v3"))
ls()

Warning message in rm(list = c("v1", "v2", "v3")):
“object 'v1' not found”
Warning message in rm(list = c("v1", "v2", "v3")):
“object 'v2' not found”
Warning message in rm(list = c("v1", "v2", "v3")):
“object 'v3' not found”

[1] "aux2"   "aux3"   "frase1" "x"      "y"      "z"

#VECTORES

In [31]:
#Los vectores se declaran anteponiendo la letra "c" , con componentes entre parentesis, separado por comas c(x,x,x,x)
#Deben contener el mismo tipo de datos.
v1 <- c(1,1,1,5,4,4)
v2 <- c(10,20,30,40)
v3 <- c(1:10)
a1 <- c("Hola","chao","mañana")
a2 <- c(q="casa", w="perro")

#Vectores Lógicos:
l1 <-c(T,T,F,F,T)

In [32]:
ls()

 [1] "a1"     "a2"     "aux2"   "aux3"   "frase1" "l1"     "v1"     "v2"
 [9] "v3"     "x"      "y"      "z"

In [34]:
v1
a2

[1] 1 1 1 5 4 4

      q       w
 "casa" "perro"